<!DOCTYPE html>
<html>
  <head>
    <title>LFI Vuln</title>
  </head>
  <body>
    <center>
    <a href="/?file=static/icon.png">
      <img
        style="margin-top: 5%"
        src="/?file=static/icon.png"
        width="300"
        height="300"
      />
    </a>
  </center>
  <center><h2>Coming soon!</h2></center>
    <!-- Show welcome message -->
    <center><h2>Welcome, {{ username }}!</h2></center>
    <center><a href="{{ url_for('logout') }}">Logout</a></center>

      <center><p>{{ data }}</p></center>
    </form>
  </body>
</html>
